/* Fonts */

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* header */

/* navbar-section*/

.navbar-section {
    width: 1440px;
    height: 700px;
}

nav {
    display: flex;
}

nav p {
    font-size: 34px;
    font-weight: 900;
    margin-left: 150px;
    margin-top: -600px;
    color: #4E47FF;
}

nav button {
    width: 130px;
    height: 45px;
    margin-top: -600px;
    margin-left: 900px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: #4E47FF;
    cursor: pointer;
}

/* banner-section */

.banner-title {
    width: 800px;
    height: 150px;
    margin-top: -400px;
    margin-left: 280px;
    font-size: 65px;
    font-weight: bold;
}

.web-flow {
    display: block;
    text-align: center;
}

.banner-section button {
    width: 175px;
    height: 50px;
    margin-left: 600px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: #4E47FF;
    cursor: pointer;
}

/* main */

/* action-section */

.action-section {
    display: flex;
}

.action-txt {
    margin-top: 250px;
    margin-left: 140px;
}

.action-title {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}

.action-des {
    width: 517px;
    height: 60px;
    margin-top: -20px;
    font-size: 24px;
    font-weight: 300;
    color: #252432a7;
}

.action-section img {
    width: 400px;
    height: 330px;
    margin-top: 250px;
    margin-left: 250px;
    border-radius: 48px;
}

.action-section button {
    width: 230px;
    height: 50px;
    margin-top: -5px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: #4E47FF;
    cursor: pointer;
}

/* productive user section */

.productive-user-section {
    width: 1140px;
    height: 306px;
    margin-top: 115px;
    margin-left: 140px;
    border-radius: 24px;
    background-color: #4d47ff21;
}

.productive-user-section h1 {
    padding-top: 50px;
    font-size: 38px;
    text-align: center;
}

.data ul {
    display: flex;
    gap: 158px;
    margin-top: 40px;
    margin-left: 140px;
    list-style: none;
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}

.data-sub-title ul {
    display: flex;
    gap: 188px;
    margin-top: -85px;
    margin-left: 160px;
    list-style: none;
    font-size: 20px;
    font-weight: 400;
    color: #00000050;
}

/* feedback section */

.feedback-section {
    width: 1140px;
    height: 342px;
    margin-top: 137px;
    margin-left: 151px;
    gap: 24px;
}

.feedback-section h1 {
    font-size: 42px;
    font-weight: bold;
    text-align: center;
}

.card-container {
    padding: 24px;
    border-radius: 16px;
    gap: 25px;
    display: flex;
    margin-top: 50px;
}

.card {
    padding: 24px;
    border-radius: 14px;
    width: 366px;
    height: 200px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.149);
}


.customer-icon {
    display: flex;
    gap: 15px;
}

.customer-icon img {
    margin-top: 15px;
    width: 40px;
    height: 40px;
    border-radius: 9999px;
}

.card h2 {
    margin-top: 24px;
}

.card-des {
    margin-top: -8px;
    color: #1E1E1E;
}

/* focus Section */

.focus-section{
    width: 1140px;
    height: 700px;
    margin-top: 140px;
    margin-left: 150px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.149);
}

.focus-section h1{
    padding-top: 70px;
    margin-left: 312px;
    font-size: 50px;
    font-weight: bold;
}

.focus-section p{
    font-size: 20px;
    font-weight: 300;
    margin-top: -10px;
    margin-left: 290px;
    color: #1E1E1E;
}

.focus-section button{
    width: 195px;
    height: 50px;
    border: none;
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: 200px;
    color: white;
    border-radius: 10px;
    margin-left: 473px;
    cursor: pointer;
}

.focus-section img{
    margin-top: 20px;
    margin-left: 150px;
    border-radius: 48px;
}