/* Fonts */

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

    /* header */

/* navbar-section*/

nav{
    display: flex;
}

nav p{
    font-size: 34px;
    font-weight: 900;
    margin-left: 150px;
    margin-top: -600px;
    color: #4E47FF;
}

nav button{
    width: 130px;
    height: 45px;
    margin-top: -600px;
    margin-left: 900px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: #4E47FF;
    cursor: pointer;
}

/* banner-section */

.banner-title{
    width: 800px;
    height: 150px;
    margin-top: -400px;
    margin-left: 280px;
    font-size: 65px;
    font-weight: bold;
}

.web-flow{
    display: block;
    text-align: center;
}

.banner-section button{
    width: 175px;
    height: 50px;
    margin-left: 600px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: #4E47FF;
    cursor: pointer;
}

     /* main */

/* action-section */

.action-section{
    display: flex;
}

.action-txt{
    margin-top: 250px;
    margin-left: 140px;
}

.action-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}

.action-des{
    width: 517px;
    height: 60px;
    margin-top: -20px;
    font-size: 24px;
    font-weight: 300;
    color: #252432a7;
}

.action-section img{
    width: 400px;
    height: 330px;
    margin-top: 250px;
    margin-left: 250px;
    border-radius: 48px;
}

.action-section button{
    width: 230px;
    height: 50px;
    margin-top: -5px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: #4E47FF;
    cursor: pointer;
}
